{% extends "base.html.twig" %}
{% block title %}

	Votre espace
	{{ app.user.slug }}


{% endblock %}


{% block body %}

	<h2 class="mt-5 text-center">
		Bienvenue dans votre espace
		{{ app.user.firstName | capitalize}}
		{{ app.user.lastName | capitalize }}
	</h2>
	<div class="text-center mt-5">
		<img class="imageRond" src="{{ vich_uploader_asset(app.user, 'avatarFile') | imagine_filter ('thumb') }}"/>
	</div>

	<div class="espace_perso_taille_police">

		<p class="text-center mt-5 smart ipad">Vous habitez
			{{ app.user.location | capitalize }}.
		</p>
		{% if app.user.categories is defined %}

			<p class="text-center mt-5 smart ipad" style="line-height: 3em; ">
				Vous êtes inscrit(e) dans les catégories suivantes :
				{% for categorie in app.user.categories %}

					<span class="catColor ml-2 smart ipad">
						{{ categorie.name }}
					</span>
				{% endfor %}
			</p>


		{% endif %}


		{% if app.user.description is defined %}

			<p class="text-center mt-5 smart ipad">
				<span class="titreColor">Votre présentation</span>
				:
				{{ app.user.description }}

			</p>
		{% endif %}

		{% if app.user.experience is defined %}
			<p class="text-center mt-5 smart ipad">
				<span class="titreColor">Vos années d'experience</span>
				:
				{{ app.user.experience }}
				ans
			</p>
		{% endif %}

		{% if app.user.company is defined %}
			<p class="text-center mt-5 smart ipad">
				<span class="titreColor">Entreprise</span>
				:
				{{ app.user.company }}

			</p>
		{% endif %}
	</div>
	<div class="text-center mt-5">
		<a href="{{ path('user_edit', {'slug': app.user.slug }) }}">
			<button type="button" class="btn btn-primary ml-5">Modifier votre profil</button>
		</a>

		<a href="{{ path('message_index', {'id': app.user.id}) }}" class="btn btn-info">
			Messagerie</a>
	</div>
	<script>
		document.getElementById('space').style.display = 'none';
	</script>
{% endblock %}
