{% extends "base.html.twig" %}
{% block title %}
	{{ app.user.slug }}
{% endblock %}

{% block body %}
	
			<h2 class="mt-3 text-center">
		Bienvenue dans votre espace
		{{ app.user.firstName | capitalize}}
		{{ app.user.lastName | capitalize }}
		</h2>
		
		<p class="text-center mt-5">Vous habitez {{ app.user.location | capitalize }}.
		<button type="button" class="btn btn-primary btn-sm">Modifier</button>
		<p class="text-center">
		Vous êtes inscrit(e) dans les catégories suivantes :
		{% for categorie in app.user.categories %}
		 {% if loop.first != true %}
        ,
        {% endif %}
		<span class="catColor">
			  {{ categorie.name }}
			  </span>
		{% endfor %}
		.
		<button type="button" class="btn btn-primary btn-sm">Mettre à jour</button>
</p>
	</p>
	
{% endblock %}
