<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="nav-link navbar-brand" id="accueil" href="https://127.0.0.1:8000/">Accueil</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span id="accueil" class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('concept') }}">Concept

				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Les technologies</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'javascript' }) }}">Javascript</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'php' }) }}">Php</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'python' }) }}">Python</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'ruby' }) }}">Ruby</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'java' }) }}">Java</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'c#' }) }}">C#</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'c et c++' }) }}">C et C++</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'lua' }) }}">Lua</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'swift' }) }}">Swift</a>
				</li>

			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Les frameworks</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'react' }) }}">React</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'symfony' }) }}">Symfony</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'laravel' }) }}">Laravel</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'codeigniter' }) }}">CodeIgniter
					</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'cake php' }) }}">CakePHP</a>
					<a class="dropdown-item" href="{{ path('category_index', {'slug': 'zend framework' }) }}">Zend Framework
					</a>
				</li>
			</li>
		</ul>
		<ul class="navbar-nav liens_insc_conn">
			<li lass="nav-item">
				<a class="nav-link" id="inscription" href="{{ path('home_register_choice') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-door-open black"></i>
					Inscription</a>
			</li>
			<li lass="nav-item">
				<a class="nav-link" id="connexion" href="{{ path('security_login') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-sign-in-alt black"></i>
					Connexion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="deconnexion" href="{{ path('security_logout') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-sign-out-alt black"></i>
					Déconnexion</a>
			</li>

			<li class="nav-item" id="space">
				<a class="nav-link" id="espace_membre" href="{{ path('member_space' ) }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-home"></i>
					Votre espace</a>
			</li>


		</ul>

	</div>
</nav>
