{% extends "base.html.twig" %}
{% block title %}
	{{ slug }}
{% endblock %}
{% block body %}

	<h2 class="text-center mt-5">
		Vous êtes dans la catégorie :
		<span class="catColor">{{ slug | capitalize}}</span>
	</h2>

	{% for item in category %}


		<table class="table table-hover mt-5">
			<thead>
				<tr class="table-primary">
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Ville</th>
					<th scope="col">Avatar</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-active">
					<td>{{ item.firstName | capitalize }}</td>
					<td>{{ item.lastName | capitalize}}</td>
					<td>{{ item.location | capitalize }}</td>
					<td>
						{% if item.media %}
							{% for item in item.media %}

								<img class="imageRond" src="{{ vich_uploader_asset(item) | imagine_filter ('thumb') }}"/>

							{% else %}

								<img class="imageRond" src="https://127.0.0.1:8000//images/avatarDefaut.jpg"/>


							{% endfor %}
						{% endif %}
					</td>
					<td>
						<a href="{{ path('category_showUser', {'slug': item.slug}) }}">
							<button type="button" class="btn btn-primary btn-sm">Profil</button>
						</a>
					</td>
				</tr>

			</tbody>
		</table>


	{% endfor %}


	<div class="pagination">

		{{ knp_pagination_render (category)}}
	</div>

{% endblock %}
