{% extends "base.html.twig" %}

{% block title %}
	Profil de
	{{ slug }}
{% endblock %}

{% block body %}

{% for item in user %}
	<h2 class="text-center mt-5">
		Vous visitez le profil de
		{{ item.firstName | capitalize }}
		{{ item.lastName | capitalize }}
	</h2>


	<div class="row ipad smart">
		<div class="col">
			{% if item.media %}
				{% for item in item.media %}
					<div class="text-center mt-5">
						<img class="imageRondProfil" src="{{ vich_uploader_asset(item) | imagine_filter ('thumb') }}"/>

					</div>
				{% else %}
					<div class="text-center mt-5">
						<img class="imageRondProfil" src="https://127.0.0.1:8000//images/avatarDefaut.jpg"/>

					</div>
				{% endfor %}
			{% endif %}
			<p class="text-center mt-5" style="line-height: 3em; ">Ses technologies :
				{% for categorie in item.categories %}

					<span class="catColor ml-2">
						{{ categorie.name }}</span>
				{% endfor %}
			</p>
			<p class="text-center mt-5">
				<span class="titreColor">Il vit à</span>
			</p>
			<p class="fond text-center">{{ item.location | capitalize }}</p>
		</p>
		<p class="text-center largeur_presentation" style="line-height: 3em; ">
			<span class="titreColor">Présentation</span>
		</p>
		<p class="fond text-center">{{ item.description | capitalize }}</p>
	</p>

	<p class="text-center largeur_presentation" style="line-height: 3em; ">
		<span class="titreColor">Formation</span>
	</p>
	<p class="fond text-center">{{ item.formation }}</p>
</p>

<p class="text-center largeur_presentation" style="line-height: 3em; ">
	<span class="titreColor">Loisirs</span>
</p>
<p class="fond text-center">{{ item.loisirs }}</p></p><p class="text-center">
<span class="titreColor">Experience</span></p><p class="fond text-center">{{ item.experience }}
{% if item.experience > 1 %}ans
{% else %}
	an
{% endif %}</p></p><p class="text-center mt-5"><a href="{{ path('message_new', {'id': item.id, 'slug': item.slug}) }}">
<button id="contact" type="button" class="btn btn-danger btn-sm ipad">Le contacter</button></a></p><p class="text-center mt-5"><button type="button" class="btn btn-primary btn-sm" onclick="rtn()">Retour à la liste</button></p>{% endfor %}</div><divclass="colipad"><!-- MAP --><div id="map" class="mt-5 ml-5"></div></div><!-- fin map --></div></div>{% endblock %}{% block javascripts %}<!-- Make sure you put this AFTER Leaflet's CSS --><script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script><script src="{{ asset('js/map.js') }}">document.getElementById('map').style.display = 'block';
console.log('merde');</script><script>let main = new Main();</script><script>function rtn() {
window.history.back();
}</script>{% if app.user %}<script>document.getElementById('inscription').style.display = 'none';</script><script>document.getElementById('connexion').style.display = 'none';</script><script>document.getElementById('deconnexion').style.display = 'block';</script><script>document.getElementById('espace_membre').style.display = 'block';</script><script>document.getElementById('contact').style.display = 'block';</script>{% else %}<script>document.getElementById('inscription').style.display = 'block';</script><script>document.getElementById('connexion').style.display = 'block';</script><script>document.getElementById('deconnexion').style.display = 'none';</script><script>document.getElementById('espace_membre').style.display = 'none';</script><script>document.getElementById('contact').style.display = 'none';</script>{% endif %}{% endblock %}
