{% extends "base.html.twig" %}
{% block title %}
	{{ slug }}
{% endblock %}
{% block body %}
	<h2 class="text-center mt-5">
		Vous êtes dans la catégorie :
		{{ category.name }}</h2>
	{% for user in category.users %}
		<table class="table table-hover mt-5">
			<thead>
				<tr class="table-primary">
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Ville</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-active">
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.location }}</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm">Profil</button>
					</td>
				</tr>

			</tbody>
		</table>

	{% endfor %}

{% endblock %}
