{% extends "base.html.twig" %}
{% block title %}
	{{ slug }}
{% endblock %}
{% block body %}

	<h2 class="text-center mt-5">
		Vous êtes dans la catégorie :
		<span class="catColor">{{ slug | capitalize}}</span>
	</h2>

	{% for item in category %}


		<table class="table table-hover mt-5">
			<thead>
				<tr class="table-primary">
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Ville</th>
					<th scope="col">Avatar</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-active">
					<td>{{ item.firstName | capitalize }}</td>
					<td>{{ item.lastName | capitalize}}</td>
					<td>{{ item.location | capitalize }}</td>
					<td>
						<img
						class="imageRond" style="width:70px; height:auto;" src="http://devieux.herokuapp.com/images/avatarDefaut.jpg"/>
					{#<img class="imageRondCat" src="{{ vich_uploader_asset(item, 'avatarFile') | imagine_filter ('thumb') }}"/>#}
					</td>
					<td>
						<a href="{{ path('category_showUser', {'slug': item.slug}) }}">
							<button type="button" class="btn btn-primary btn-sm">Profil</button>
						</a>
					</td>
				</tr>

			</tbody>
		</table>


	{% endfor %}


	<div class="pagination">

		{{ knp_pagination_render (category)}}
	</div>

{% endblock %}
