{% extends 'base.html.twig' %}

{% block title %}Edition du profil
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
	<h2 class="text-center mt-5">Edition de votre profil
		{{ user.firstName | capitalize }}
	</h2>
	<div class="text-center p-3 mt-5">
		<div class="col">
			{{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
			{% for item in media %}
				<a href="{{ path('media_edit', {'id': item.id }) }}">
					<button class="btn btn-success btn-sm mt-5">Changer votre avatar</button>
				</a>

			{% endfor %}
		</div>

		<div class="row">

			<div class="col">
				<a href="{{ path('member_space') }}">
					<button class="btn btn-warning btn-sm mt-3">Retour à votre espace</button>
				</a>


				{{ include('user/_delete_form.html.twig') }}
			</div>


		</div>

	{% endblock %}
